<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Hello Vue!</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        {{message}}
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse here for a few seconds to see the Vue app generated title!
        </span>
        <a v-bind:href="linkURL" target="_blank" rel="noopener noreferrer">{{linkText}}</a>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you can see me!</span>
        <span v-else>Seen value is false!</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="item in todos">
                {{item.text}}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">
            Reverse Message!</button>
    </div>

    <div id="app-6">
        <p>{{message}}</p>
        <input type="text" v-model="message" />
    </div>

    <!-- Vue app script must be added before the closing tag of <body>-->
    <script src="./scripts/index.js"></script>
</body>

</html>